// VARIABLES
$primary-color: #272727;
$accent-color: #ff652f;
$text-color: #ffffff;
$white: #fff;
$black: #000;
$font: Arial, san-serif;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "samibold": 600,
    "bold": 700,
);
   
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-l: 1440px;
$pc: 2560px;